{% extends "padre.html" %}
{% load static %}
{% block contenidoQueCambia %}
…<section id="about">
    <div class="container px-4">
        <div class="row gx-4 justify-content-left">
            <div class="col-lg-8">
                <h2>Registro en la Base de datos de profesores</h2>
                <p class="lead">Ingrese los datos que quiere registrar en la Base de datos:</p>
                <!-- Registro en base de datos-->
                <ul>  
                    <body>
                        <form action="" method="POST">
                            {%csrf_token%}
                            <table>
                                {{ miformulario.as_table }}  
                            </table>
                            <input type="submit", value="Registrar">
                        </form>
                    </body>  
                    </body>                            
                </ul>
            </div>
        </div>
    </div>
</section>
{% endblock contenidoQueCambia %}
